html {
    background-color: rgb(44, 38, 41);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

.nav-bar ul {
    background-color: rgba(7, 6, 6, 0.50);
    max-height: 25px;
    width: 1800px;
    height: 25px;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border: 0.1px solid rgb(245, 205, 132);
    border-bottom: 2px solid rgb(245, 205, 132);
}

.nav-bar li {
    display: inline;
    float: right;
    color: rgba(227, 215, 215, 1);
    margin: auto 10px;
    height: 100%;
    font-size: 1.2em;
}

.nav-bar li:first-child {
    float: left;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration: underline;
}

.nav-bar a {
    color: white;
}

#book-details {
    background-color: rgba(94, 52, 74, 0.44);
    text-align: center;
    max-width: fit-content;
    margin: auto;
}

#book-details label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 1000px;
    min-width: fit-content;
}

#form-submit {
    width: 100%;
    padding: 10px;
    background-color: #5e344a;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer; 
}

#form-submit:hover {
    background-color: #7d4160;
}